html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title E-Controller
        
        link(rel="stylesheet", type="text/css", href="vendor/materialize/css/materialize.min.css")
        link(rel="stylesheet", type="text/css", href="vendor/toastr/toastr.min.css")
        link(rel="stylesheet", type="text/css", href="vendor/sweetalert2/dist/sweetalert2.min.css")
        link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", type="text/css", href="vendor/codemirror-5.54.0/lib/codemirror.css")
        link(rel="stylesheet", type="text/css", href="vendor/codemirror-5.54.0/theme/material.css")
        link(rel="stylesheet", type="text/css", href="vendor/sweetalert2/dist/sweetalert2.css")
        
        link(rel="apple-touch-icon", href="images/logo.webp")
        link(rel="shortcut icon", type="image/x-icon", href="images/logo.webp")
        script(src="vendor/socket-io-client-2.3.0/socket.io.js")

        block head
    body
        block content
        script(src="vendor/materialize/js/materialize.min.js")
        script(src="vendor/sweetalert2/dist/sweetalert2.min.js")
        script(src="vendor/jquery-3.5.1/jquery-3.5.1.min.js")
        script(src="vendor/toastr/toastr.min.js")
        script(src="vendor/codemirror-5.54.0/lib/codemirror.js")
        script(src="vendor/sweetalert2/dist/sweetalert2.all.min.js")

        script.
            $(document).ready(function () {
                M.AutoInit();
            });
        
        block foot