doctype html
html
  head
    //- title= title
    title E-Controller
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css", href="/vendor/materialize/css/materialize.min.css")
    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="apple-touch-icon", href="images/logo.webp")
    link(rel="shortcut icon", type="image/x-icon", href="images/logo.webp")
    block head
  body
    block content
    script(src="/vendor/materialize/js/materialize.min.js")
    script(src="/vendor/jquery-3.5.1/jquery-3.5.1.min.js")
    block foot
