html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title E-Controller
        link(rel="stylesheet", type="text/css", href="vendor/ioform/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="vendor/ioform/css/fontawesome-all.min.css")
        link(rel="stylesheet", type="text/css", href="vendor/ioform/css/iofrm-style.css")
        link(rel="stylesheet", type="text/css", href="vendor/ioform/css/iofrm-theme18.css")
        link(rel="stylesheet", type="text/css", href="vendor/toastr/toastr.min.css")
        link(rel="stylesheet", type="text/css", href="vendor/sweetalert2/dist/sweetalert2.css")

        link(rel="apple-touch-icon", href="images/logo.webp")
        link(rel="shortcut icon", type="image/x-icon", href="images/logo.webp")
        
        block head

    body
        block content
        script(src="vendor/ioform/js/jquery.min.js")
        script(src="vendor/ioform/js/popper.min.js")
        script(src="vendor/ioform/js/bootstrap.min.js")
        script(src="vendor/ioform/js/main.js")
        script(src="vendor/jquery-3.5.1/jquery-3.5.1.min.js")
        script(src="vendor/toastr/toastr.min.js")
        script(src="vendor/sweetalert2/dist/sweetalert2.all.min.js")
        block foot