extends layouts/back

block head
    script.
        const socket = io.connect('#{process.env.APP_URL}:#{process.env.SOCKET_PORT_TARGET}', { transports: [ 'websocket' ], path: "/backend.io", query: `authorization=${localStorage.getItem("x_auth_token")}&type=panel` });
    script(src="javascripts/home_head.js")

    style.
        nav{
            background-image: repeating-linear-gradient(136deg, rgba(255,255,255,0.15) 0px, rgba(255,255,255,0.15) 1px,transparent 1px, transparent 41px),repeating-linear-gradient(226deg, rgba(255,255,255,0.15) 0px, rgba(255,255,255,0.15) 1px,transparent 1px, transparent 41px),linear-gradient(226deg, hsl(210,93%,63%),hsl(210,93%,63%));
        }

        body{
            background-image: repeating-linear-gradient(0deg, rgb(225,225,225) 0px, rgb(225,225,225) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(225,225,225) 0px, rgb(225,225,225) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, rgb(241,241,241),rgb(241,241,241));
        }

        .collection .collection-item{
            cursor: pointer;
        }

        .collection .collection-item span{
            font-weight: bold;
        }

        .collection .collection-item:hover{
            background-color: #b3e5fc;
        }

        .select-wrapper input{
            color: #FFF;
        }

        .select-wrapper ul{
            background-color: #263238;
        }

block content
    nav
        div.nav-wrapper
            a(href="#")
                img(src="/images/logo.webp", alt="Logo" style="max-height: 56px;")
            a(href="#", data-target="mobile-demo", class="sidenav-trigger")
                i.material-icons menu
            ul.right.hide-on-med-and-down
                li
                    a.modal-trigger(href="#modalManual") Manual
                li
                    a.btn-about(href="#") About
                li
                    a(href="/logout") Logout

    ul#mobile-demo.sidenav
        li
            a.modal-trigger(href="#modalManual") Manual
        li
            a.btn-about(href="#") About
        li
            a(href="/logout") Logout

    div.container
        div.row
            div.col.m4.s12
                div.card.hoverable(style="min-height: 244px;")
                    div.card-content
                        span.card-title User Info
                        div#user-load.progress(style="display:none;")
                            div.indeterminate
                        div.row
                            div.col.s12
                                ul.tabs
                                    li.tab.col
                                        a(href="#tabUser") User
                                    li.tab.col
                                        a(href="#tabLine") Line Acc.
                                    li.tab.col
                                        a(href="#tabQR") Bot QR
                            div#tabUser.col.s12
                                table
                                    tr
                                        td Username
                                        td :
                                        td #[script document.write(user.username)]
                                    tr
                                        td Name
                                        td :
                                        td #[script document.write(user.name)]
                                    tr
                                        td Last Login
                                        td :
                                        td #[script document.write(`${last_dt.getFullYear()}-${(last_dt.getMonth()+1)}-${last_dt.getDate()} ${last_dt.getHours()}:${last_dt.getMinutes()}:${last_dt.getSeconds()}`)]
                            div#tabLine(style="text-align:center;")
                                img#line-photo.responsive-img.circle.materialboxed(src="/images/logo.webp", style="width: 30%; margin: auto;")
                                table
                                    tr
                                        td Display Name
                                        td :
                                        td #[span#line-name N/A]
                                    tr
                                        td Status
                                        td :
                                        td #[span#line-status N/A]
                                    tr
                                        td Language
                                        td :
                                        td #[span#line-language N/A]
                                button.waves-effect.waves-light.btn.red.btn-logout(style="margin-top: 1rem; display:none;") Logout
                            div#tabQR(style="text-align:center;")
                                img.responsive-img.materialboxed(src="/images/qrcode.png", style="width: 50%; margin: auto;")
                                pre @640payno
            div.col.m4.s12
                div.card.hoverable
                    div.card-content
                        span.card-title Server Connection
                        div#srv-loading.srv-status.row(style="margin:0;")
                            div.col.s4
                                i.material-icons.large.grey-text loop
                            div.col.s8
                                h5.grey-text Connecting...
                                pre Establishing Connection
                        div#srv-connected.srv-status.row(style="margin:0;display:none;")
                            div.col.s4
                                i.material-icons.large.green-text cloud_done
                            div.col.s8
                                h5.green-text Connected
                                pre Connection Established
                        div#srv-disconnected.srv-status.row(style="margin:0;display:none;")
                            div.col.s4
                                i.material-icons.large.grey-text cloud_off
                            div.col.s8
                                h5.grey-text Disconnected
                                pre Connection Lost
                        div#srv-error.srv-status.row(style="margin:0;display:none;")
                            div.col.s4
                                i.material-icons.large.red-text error
                            div.col.s8
                                h5.red-text Error
                                pre Something went wrong
                        div#srv-load.progress(style="display:none;")
                            div.indeterminate
            div.col.m4.s12
                div#node-list.card.hoverable
                    div.card-content
                        span.card-title My Device List
                        div.row
                            div.col.s12.m4
                                a.waves-effect.waves-light.btn.right.modal-trigger(href="#modalAddNode")
                                    i.material-icons add
                            div.col.s12.m4
                                a.waves-effect.waves-light.btn.right.modal-trigger.btn-edit(href="#modalEditNode", disabled=true)
                                    i.material-icons edit
                            div.col.s12.m4
                                a.waves-effect.waves-light.btn.right.modal-trigger.btn-delete(href="#modalDeleteNode", disabled=true)
                                    i.material-icons delete
                        div.progress(style="display:none;")
                            div.indeterminate
                        ul.collection(style="overflow: auto; max-height: 244px;")
    div#component-list.container
        div.row
            div.col.s12.m6
                h3 My Component List
                p Selected Device: None
            div.col.s12.m6
                button.waves-effect.waves-light.btn.right.btn-add(style="margin-top: 2.5rem;", disabled=true)
                    i.material-icons add
                    | Add New Component
            div.progress(style="display:none;")
                div.indeterminate
        div.component-container.row

    div#modalManual.modal.modal-fixed-footer
        div.modal-content
            h4 Manual Guide
            div.row
                div.col.s12
                    iframe(src="/manual", frameborder="0", style="width: 100%; height: 90%;")
        div.modal-footer
            a.modal-close.waves-effect.waves-green.btn-flat Close

    div#modalAddNode.modal
        div.modal-content
            h4 Add New Device
            div.row
                div.input-field.col.s12
                    label Device Name
                    input(type="text", name="name")
        div.modal-footer
            button.waves-effect.waves-green.btn-flat Add
            a.modal-close.waves-effect.waves-green.btn-flat Cancel
    
    div#modalEditNode.modal
        div.modal-content
            h4 Edit Device
            div.row
                div.input-field.col.s12
                    label Device Name
                    input(type="text", name="name")
        div.modal-footer
            button.waves-effect.waves-green.btn-flat Save
            a.modal-close.waves-effect.waves-green.btn-flat Cancel
    
    div#modalDeleteNode.modal
        div.modal-content
            h4 Delete Device
            p Are you sure want to delete?
            input(type="hidden", name="name")
        div.modal-footer
            button.waves-effect.waves-green.btn-flat Delete
            a.modal-close.waves-effect.waves-green.btn-flat Cancel
block foot
    script(src="javascripts/home_foot.js")