extends layouts/ioform

block head
    script(src="javascripts/login_head.js")
        
block content
    div.form-body.without-side
        div.website-logo
            a(href="/")
                img(src="images/logo.webp", alt="")
        div.row
            div.img-holder
                div.bg
                div.info-holder
                    img(src="/vendor/ioform/images/graphic3.svg", alt="")
            div.form-holder
                div.form-content
                    div.form-items
                        h3 Login to account
                        p Get access by login using your account
                        form(action="/login", method="post")
                            input#username.form-control(type="text", name="username", placeholder="Username", required)
                            input#password.form-control(type="password", name="password", placeholder="Password", required)
                            div.form-button
                                button#submit.ibtn(type="submit") Login
                                a(href="#") Create Account
                        div.other-links

                        div.page-links
                            a.btn-about(href="#") About This Project

block foot
    script(src="javascripts/login_foot.js")