extends layouts/front

block head
    style.
        pre{
            font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

block content
    div.container
        if typeof renderedMd == 'undefined'
            h1 E-Controller Manuals
            ul
                li #[a(href="/manual/component") Component]
                li #[a(href="/manual/line") LINE Commands]
        else
            nav(style="background-color:#0d47a1; margin-top: 2%;")
                div.nav-wrapper
                    div.col.s12
                        each c in crumbs
                            a.breadcrumb(href=c.link)=c.name
            !{renderedMd}

block foot
    
