each com in components
    div.col.m4.s12.component-col(id="comp_list_#{com.id}", data-id=com.id)
        div.card.hoverable.blue-grey.darken-1.component-card(style="min-height: 244px;")
            div.card-content.white-text
                i.material-icons.right.btn-delete(style="cursor: pointer;") close
                input.card-title.white-text.component-title(type="text", style="font-size: 24px;", value=com.name)
                div.input-field
                    select.white-text.component-select(value=com.type)
                        option(value="led_rgb", selected=(com.type == 'led_rgb')) LED RGB
                        option(value="led", selected=(com.type == 'led')) LED
                        option(value="sensor_temperature", selected=(com.type == 'sensor_temperature')) Sensor Suhu
                    label.white-text Type
                textarea.json-textarea=com.value
                //- table
                    //- tr
                    //-     td Power
                    //-     td :
                    //-     td
                    //-         div.switch
                    //-             label 
                    //-                 | Off
                    //-                 input(type="checkbox", checked=(!!+com.state))
                    //-                 span.lever
                    //-                 | on
                    //- tr
                    //-     td Pin
                    //-     td :
                    //-     td 
                    //-         input(type="number", value=com.pin, min=0)
                    //- tr
                    //-     td Data
                    //-     td :
                    //-     td
                    //-         textarea.json-textarea=com.value