each dev in devices
    li(id="node_list_#{dev.key}", class="collection-item", data-id=dev.id, data-state=(dev.socket_uid != null ? "1" : "0"), data-name=dev.name)
        span=dev.name
        pre(style="margin: 0;") #{dev.key}
        p(style="color: #{dev.socket_uid != null ? '#4caf50' : '#37474f'}")=(dev.socket_uid != null ? "Online" : "Offline")